<ion-header mode="md">
  <ion-toolbar class="header_sec mains" mode="ios">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button>
        <ion-icon class="back_icon" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openTimeOffRequests('calendar')">
      <ion-button>
        <ion-icon class="icon_plus" name="calendar-clear-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title_header">Time Off Bank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slide" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-row>
      <ion-col class="col-xs-12 col-sm-8 col-md-8">
      <ion-slide *ngFor="let e of timeOffRequestList">
          <ion-row>
            <ion-col class="daysinput">
              <ion-label class="icon_label">
                <span class="day_text date_span hoursText">{{e.NetBalance}}</span>
              </ion-label>
            </ion-col>
            <ion-col class="daysinput">
              <ion-label class="icon_label">
                <span class="day_text date_span">Hours</span>
              </ion-label>
            </ion-col>
            <div class="info">
              <span class="statusline">{{e.Name}}</span>
            </div>
          </ion-row>
      </ion-slide>
    </ion-col>
    </ion-row>
  </ion-slides>
</ion-content>
