<div class="add_rol_modal">
  <div class="modal-header">
      <h4 class="modal-title pull-left">{{Offer.offerType === 7 ? 'Process Early Out request' : 'Process Call Off
          request'}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" [disabled]="!isDisableBtn" (click)="closePopUp()">
          <span aria-hidden="true"><ion-icon name="close-circle-outline"></ion-icon></span>
      </button>
  </div>




  <div class="modal-body pb-3 add_early_go_popup">
      <div class="row">
          <div class="col-md-12">
              <div class="hr-spec-sec" *ngIf="role === roleEnum.hrAdmin">
                  <form [formGroup]="earlyGoForm">
                      <div class="form-group row approve-fields">
                          <ion-label style="font-weight:bold;" for="username" class="col-12 col-form-label"> Is the
                              current UTO balance at or below 5 hours? </ion-label>

                          <!-- <div class="col-8">
                          <p>2 hours</p>
                      </div> -->
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="isUtoBalance"
                                  name="isUtoBalance" id="inlineRadio1" value="true">
                              <label class="form-check-label" for="inlineRadio1">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="isUtoBalance"
                                  name="isUtoBalance" id="inlineRadio2" value="false">
                              <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>

                          <app-validation-message [control]="earlyGoForm.controls['isUtoBalance']"
                              [messages]="messageList.isUtoBalance">
                          </app-validation-message>
                      </div>

                      <div class="form-group row approve-fields">
                          <label style="font-weight:bold;" for="username" class="col-12 col-form-label"> Do you want to send UTO warning?</label>

                          <!-- <div class="col-8">
                          <p>2 hours</p>
                      </div> -->
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="isWarningCompleted"
                                  name="isWarningCompleted" id="inlineRadio1" value="true">
                              <label class="form-check-label" for="inlineRadio1">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="isWarningCompleted"
                                  name="isWarningCompleted" id="inlineRadio2" value="false">
                              <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                          <app-validation-message [control]="earlyGoForm.controls['isWarningCompleted']"
                              [messages]="messageList.isWarningCompleted">
                          </app-validation-message>

                      </div>
                      <div class="col-md-12">
                          <div class="form-group mb-0">
                              <ckeditor class="ck-editor__editable_inline" [editor]="Editor"  formControlName="UTOwarningStr"
                                  placeholder="Terms & condition">
                              </ckeditor>
                          </div>
                          <app-validation-message [control]="earlyGoForm.controls['UTOwarningStr']"
                          [messages]="messageList.UTOwarningStr">
                      </app-validation-message>
                      </div>
                  </form>
                  
              </div>

          </div>
      </div>
  </div>
  <div class="modal-footer">
      <ng-container>
          <button type="submit" tabindex="-1" class="btn btn-primary float-left" [disabled]="!isDisableBtn" (click)="proceed()">
              Proceed</button>
          <button type="button" class="btn btn-primary ml-2" [disabled]="!isDisableBtn" (click)="closePopUp()">
              Cancel
          </button>
          <ion-label *ngIf="!isDisableBtn" for="username" class="col-12 col-form-label process-btn">Processing... </ion-label>
      </ng-container>
  </div>
</div>
