<ion-header mode="md">
  <ion-toolbar class="header_sec mains" mode="ios">
    <ion-buttons slot="start" (click)="goBack();">
      <ion-button>
        <ion-icon class="back_icon" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="openVotRequests('add')">
      <ion-button>
        <ion-icon class="icon_plus" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title_header">VOT Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="search_sect" lines="none">
    <ion-searchbar debounce="500" class="search_phrases" name="filterTextValue" [(ngModel)]="searchfield" (ionChange)="searchRequest($event)">
    </ion-searchbar>
  </ion-item>
  <ng-container *ngIf="votRequestList.length > 0">
  <ion-card class="swap_card_sec" *ngFor="let v of votRequestList" [ngClass]="v.statusClass">
    <div class="main_sec" (click)="goToVotDetail(v)">
      <div class="status_line" [ngClass]="v.statusClass">

      </div>
      <div class="time_sec">
        <ion-label class="label_date_text">{{v.timeTypeStr}}</ion-label>
        <ion-label class="text_time btmsppace" *ngIf="v.vtoStartTime!=null">
          {{v.startTimeToShow}}
        </ion-label>
        <ion-label class="text_time" *ngIf="v.vtoEndTime!=null">
          {{v.endTimeToShow}}
        </ion-label>
      </div>

      <div class="date_sec">
        <ion-label class="label_date_text">
          <span>{{v.dateToWorkDateStr}}</span>


        </ion-label>

        <ion-label class="date_cldout">
          <ion-icon name="file-tray" class="cld-icons"></ion-icon>
          <span class="day_text">{{v.departmentName}}</span>
        </ion-label>
        <ion-label class="date_cldout">
          <ion-icon name="school" class="cld-icons"></ion-icon>
          <span class="day_text"> {{v.shiftToWorkTitle}}</span>

        </ion-label>

        <ion-label class="statusbtns success" *ngIf="v.status === offerStatus.pendingMatch">
          <ion-icon name="flower" class="cld-icons"></ion-icon>
          <span class="day_text">{{v.offerStatusStr}}</span>
        </ion-label>

        <ion-label class="statusbtns danger" *ngIf="v.status === offerStatus.hrApproval">
          <ion-icon name="flower" class="cld-icons"></ion-icon>
          <span class="day_text">{{v.offerStatusStr}}</span>
        </ion-label>

        <ion-label class="statusbtns success" *ngIf="v.status === offerStatus.scheduleUpdated">
          <ion-icon name="flower" class="cld-icons"></ion-icon>
          <span class="day_text">{{v.offerStatusStr}}</span>
        </ion-label>

        <ion-label class="statusbtns success" *ngIf="v.status === offerStatus.accepted">
          <ion-icon name="flower" class="cld-icons"></ion-icon>
          <span class="day_text">{{v.offerStatusStr}}</span>
        </ion-label>

        <ion-label class="statusbtns danger" *ngIf="v.status === offerStatus.rejected">
          <ion-icon name="flower" class="cld-icons"></ion-icon>
          <span class="day_text">{{v.offerStatusStr}}</span>
        </ion-label>

      </div>
      <div class="arrow_list_sec">
        <ion-icon name="chevron-forward" class="arrow_sec"></ion-icon>
      </div>
    </div>
  </ion-card>
  </ng-container>
  <div class="no_jobs" *ngIf="votRequestList.length==0 && isData==false">
    <span>No data Found</span>
  </div> 
   
  <ion-infinite-scroll threshold="100px" *ngIf="loadmore==true" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>