<ion-content>
  <ion-header [translucent]="true" mode="md">
    <ion-toolbar mode="ios" class="header_sec">
      <ion-buttons slot="start">
        <ion-menu-button class="header-icon" menu="main-menu" autoHide='false'></ion-menu-button>
      </ion-buttons>
      <ion-title class="title_header">
        Change Password
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" class="list-form">
    <ion-card class="login_card change_pss_card">
      <ion-item class="section_inputs"
        [ngClass]="{'input_space': isSubmitted && this.changePasswordForm.controls.currentPassword.errors }"
        lines="none">
        <app-show-hide-password>
          <ion-input class="login_input" type="password" name="currentPassword" placeholder="Old password"
            formControlName="currentPassword"></ion-input>
        </app-show-hide-password>
      </ion-item>
      
      <app-validation-message [control]="changePasswordForm.controls['currentPassword']"
        [messages]="messageList.currentPassword">
      </app-validation-message>

      <ion-item class="section_inputs"
        [ngClass]="{'input_space': isSubmitted && this.changePasswordForm.controls.currentPassword.errors }"
        lines="none">
        <app-show-hide-password>
          <ion-input class="login_input" type="password" name="newPassword" placeholder="New password"
            formControlName="newPassword"></ion-input>
        </app-show-hide-password>
      </ion-item>

      <app-validation-message [control]="changePasswordForm.controls['newPassword']"
        [messages]="messageList.newPassword">
      </app-validation-message>

      <ion-item class="section_inputs"
        [ngClass]="{'input_space': isSubmitted && this.changePasswordForm.controls.currentPassword.errors }"
        lines="none">
        <app-show-hide-password>
          <ion-input class="login_input" type="password" name="confirmPassword" placeholder="Confirm password"
            formControlName="confirmPassword"></ion-input>
        </app-show-hide-password>
      </ion-item>

      <app-validation-message [control]="changePasswordForm.controls['confirmPassword']"
        [messages]="messageList.confirmPassword">
      </app-validation-message>

      <div class="button_section">
        <ion-button class="login_button" (click)="onSubmit()">Change Password</ion-button>
      </div>
    </ion-card>
  </form>
</ion-content>