<ion-content>
  <ion-header [translucent]="true" mode="md">
    <ion-toolbar mode="ios" class="header_sec">
      <ion-title class="title_header">
        Recovery Password
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" class="list-form">
    <ion-card class="login_card change_pss_card">
      <ion-item class="section_inputs"
        [ngClass]="{'input_space': isSubmitted && this.changePasswordForm.controls.newPassword.errors }" lines="none">
        <app-show-hide-password>
          <ion-input class="login_input" type="password" placeholder="New password" formControlName="newPassword">
          </ion-input>
        </app-show-hide-password>
      </ion-item>

      <app-validation-message [control]="changePasswordForm.controls['newPassword']"
        [messages]="messageList.newPassword">
      </app-validation-message>

      <ion-item class="section_inputs"
        [ngClass]="{'input_space': isSubmitted && this.changePasswordForm.controls.confirmPassword.errors }"
        lines="none">
        <app-show-hide-password>
          <ion-input class="login_input" type="password" placeholder="Confirm password"
            formControlName="confirmPassword"></ion-input>
        </app-show-hide-password>
      </ion-item>

      <app-validation-message [control]="changePasswordForm.controls['confirmPassword']"
        [messages]="messageList.confirmPassword">
      </app-validation-message>

      <div class="button_section">
        <ion-button class="login_button" (click)="onSubmit()">Reset Password</ion-button>
      </div>
    </ion-card>
  </form>
</ion-content>