#logn_text{
    font-size: 22px !important;
}

.sign_up_section{
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins';
    color:#000;
}

.text_lgn{
    font-size: 16px !important;
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .text_lgn{
        font-size: 23px !important;
    }
    #logn_text{
        font-size: 27px !important;
    }
    .login_button{
        font-size: 24px;
    }
    .sign_up_section{
        font-size: 22px;
    }
    .login_account_sect {
        font-size: 22px;
    }
    .login_information{
        padding: 2px;
    }
}
@media (min-width: 600px) and (max-width: 767px) { 
    .text_lgn{
        font-size: 23px !important;
    }
    #logn_text{
        font-size: 27px !important;
    }
    .login_button{
        font-size: 24px;
    }
    .sign_up_section{
        font-size: 22px;
    }
    .login_account_sect {
        font-size: 22px;
    }
    .login_information{
        padding: 2px;
    }
}




