<ion-content>
  <div class="login_sec">
    <img src="../../../assets/images/logo.png" style="width: 65%;">
  </div>
  <div class="login_information">
    <ion-label class="text_label_login text_lgn">
      Don't worry! Just fill in your email and we'll send you a link to reset your password.
    </ion-label>
  </div>

  <form *ngIf="forgotpasswordForm" [formGroup]="forgotpasswordForm" class="list-form">
    <ion-card class="login_card">
      <ion-item lines="none" class="login_account_sect">
        <ion-label class="login_account_text" id="logn_text"> Forgot Password</ion-label>
      </ion-item>

      <ion-item class="section_inputs" lines="none">
        <ion-input class="login_input" type="email" placeholder="Enter Email" formControlName="email"></ion-input>
      </ion-item>
      <app-validation-message [control]="forgotpasswordForm.controls['email']" [messages]="messageList.email">
      </app-validation-message>

      <div class="button_section">
        <ion-button class="login_button" (click)="onSubmit()">Submit</ion-button>
      </div>
    </ion-card>
  </form>

  <div class="sign_up_section fpLink"> Back To Login?<strong>
      <span class="sign_up_here" (click)="redirectToSignIn();">Login</span>
    </strong><br>
  </div>

</ion-content>