.tabs_section_main{
    // --color-selected:#265CB2 !important; 
    // --color:#1E1E1E !important;
    font-family: Poppins;
    
}

.my_requests{
    border-left:1px solid #E4E4E4 !important
}
.lable_tabs{
    font-family: Poppins;
}
