<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="header_sec mains" mode="ios">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-button>
        <ion-icon class="back_icon" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!Offer" class="title_header">
      Add Voluntary time off request (VTO)
    </ion-title>

    <ion-title *ngIf="Offer" class="title_header">
      Edit Voluntary time off request (VTO)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main_content">
  <div class="main_sec" no-bounce>
    <div class="form">
      <form [formGroup]="offerForm" class="list-form" *ngIf="offerForm">
        <ng-container *ngIf="role===roleEnum.manager">
          <ion-item lines="none" class="popoup_label">
            <ion-label>Department </ion-label>
          </ion-item>
          <ion-item class="popup_inputs">
            <ion-select class="form-control">
              <ion-select-option disabled value="">Select Department
              </ion-select-option>
              <ion-select-option> </ion-select-option>
            </ion-select>
          </ion-item>
        </ng-container>

        <ion-item lines="none" class="popoup_label">
          <ion-label>Shift Start Date</ion-label>
        </ion-item>
        <ion-item class="popup_inputs"
          [ngClass]="{'popoup_input_space': isSubmitted && this.offerForm.controls.dateToSkip.errors }" lines="none">
          <!-- <input
            type="text"
            class="login_input custom_inp"
            name="endDate"
            placeholder="MM-DD-YYYY"
            bsDatepicker
            (bsValueChange)="skipDateChange($event)"
            formControlName="dateToSkip"
            name="from"
            [minDate]="tomorrow"
            [bsConfig]="bsConfig"
          /> -->
          <!-- <ion-datetime [formControl]="offerForm.controls['dateToSkip']" name="endDate"
          [displayFormat]="'MM/DD/YYYY'" [pickerFormat]="'MM/DD/YYYY'"
          (ionChange)="skipDateChange($event)" [min]='minDate' [max]='maxYear' (onShown)="hideKey()" [ngClass]="{
                redBorder:
                offerForm.get('dateToSkip').touched &&
                offerForm
                    .get('dateToSkip')
                    .hasError('required')
              }"></ion-datetime> -->
          <ion-datetime [formControl]="offerForm.controls['dateToSkip']" class="login_input custom_inp" name="endDate"
            name="from" placeholder="MM/DD/YYYY " displayFormat="MM/DD/YYYY" [min]="minDate" [max]='maxYear'
            (ionChange)="skipDateChange($event)" (onShown)="hideKey()"></ion-datetime>
        </ion-item>
        <app-validation-message [control]="offerForm.controls['dateToSkip']" [messages]="messageList.date">
        </app-validation-message>

        <ng-container *ngIf="role===roleEnum.manager">
          <ion-item lines="none" class="popoup_label">
            <ion-label>Shift </ion-label>
          </ion-item>
          <ion-item class="popup_inputs">
            <ion-select class="form-control" formControlName="shiftToSkip" (change)="onShiftChange($event)">
              <ion-select-option disabled value="">Select Shift
              </ion-select-option>
              <ion-select-option *ngFor="let shift of shiftList" [value]="shift.shiftId">
                {{shift.title}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="offerForm.controls['shiftToSkip']" [messages]="messageList.shiftId">
          </app-validation-message>
        </ng-container>

        <ion-item lines="none" class="popoup_label">
          <ion-label>Time</ion-label>
        </ion-item>
        <ion-item class="popup_inputs"
          [ngClass]="{'popoup_input_space': isSubmitted && this.offerForm.controls.dateToSkip.errors }" lines="none">
          <ion-select class="select_company"  formControlName="timeType"
            (ionChange)="onTimeChange($event)">
            <ion-select-option disabled value="">Select Time
            </ion-select-option>
            <ion-select-option *ngFor="let time of timeList" [value]="time.id">
              {{time.value}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <app-validation-message [control]="offerForm.controls['timeType']" [messages]="messageList.timeType">
        </app-validation-message>
<!-- 
        <ion-row class="time_sec" [ngClass]="{'time_sec_space': isSubmitted}">
          <ion-col size="6">-->
            <div class="time_box"  [ngClass]="{'time_sec_space': isSubmitted}"> 
              <ion-item lines="none" class="popoup_label time_label">
                <ion-label>Departure time</ion-label>
              </ion-item>
              <ion-item class="start-end-time"
                [ngClass]="{'start-end-time_space': isSubmitted && this.offerForm.controls.dateToSkip.errors }"
                lines="none">
                <timepicker class="timepicker1" id="startTimeMain" [mousewheel]="false" [showSpinners]="false"
                  [showMeridian]="true" [formControl]="offerForm.controls['vtoStartTime']" [(ngModel)]="vtoStartTimeValue"
                  [disabled]="false">
                </timepicker>
              </ion-item>
            </div>
            <app-validation-message [control]="offerForm.controls['vtoStartTime']" [messages]="messageList.startTime">
            </app-validation-message>
          <!-- </ion-col>

          <ion-col size="6">-->
            <div class="time_box"  [ngClass]="{'time_sec_space': isSubmitted}"> 
              <ion-item lines="none" class="popoup_label">
                <ion-label>End time</ion-label>
              </ion-item>
              <ion-item class="start-end-time"
                [ngClass]="{'start-end-time_space': isSubmitted && this.offerForm.controls.dateToSkip.errors }"
                lines="none">
                <timepicker class="timepicker1" id="startTimeMain" [mousewheel]="false" [showSpinners]="false"
                  [showMeridian]="true" [formControl]="offerForm.controls['vtoEndTime']" [(ngModel)]="vtoEndTimeValue" [disabled]="false">
                </timepicker>
              </ion-item>
            </div>
            <app-validation-message [control]="offerForm.controls['vtoEndTime']" [messages]="messageList.endTime">
            </app-validation-message>
          <!-- </ion-col>
        </ion-row> -->

        <ng-container *ngIf="role===roleEnum.manager">
          <ion-item lines="none" class="popoup_label">
            <ion-label>How many </ion-label>
          </ion-item>
          <ion-item class="popup_inputs">
            <ion-input type="number" class="form-control" formControlName="vtoCount" placeholder="how many user"
              formControlName="vtoCount" min="1" max="20">
            </ion-input>
          </ion-item>
          <app-validation-message [control]="offerForm.controls['vtoCount']" [messages]="messageList.noOfUsers">
          </app-validation-message>
        </ng-container>
      </form>
    </div>

    <ion-row class="btn_sec" *ngIf="offerForm">
      <ng-container *ngIf="role === roleEnum.manager">
        <ion-col col-md-4>
          <div class="button_section save_btn">
            <ion-button class="save_button" (click)="onSubmit()">Review</ion-button>
          </div>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="role === roleEnum.user">
        <ion-col col-md-4>
          <div class="button_section save_btn">
            <ion-button class="save_button" (click)="save()">Save</ion-button>
          </div>
        </ion-col>
      </ng-container>
      <ion-col col-md-4>
        <div class="button_section cncl_btn">
          <ion-button class="cancel_button outline-button" fill="outline" (click)="closeModal()">Cancel</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>