
.back_icon{
    color: #fff !important;
}

.icon_right{
    color: #fff !important;
}
.icon_plus{
    color: #fff !important;
    font-size: 28px;
    font-weight: 800;
}
.header_label{
    line-height: 32px;
    background: #F4F4F4 !important;
    width: 100%;
    color: #666666;
    margin-top: 15px;
}

.label_section_date{
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: 'Poppins';
    margin-left: 20px;
}


.main_sec{
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.time_sec{
    display: flex;
    flex-direction: column;
    --background-color: none;
    border-radius: 2px;
    max-width: 20%;
    min-width: 20%;

}
.date_sec{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    border-left: 2px solid #ABB2BC;
    padding-left: 15px;
    margin-left: 15px;
}



    .swap_card_sec{
        box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
        border-radius: 15px;
        padding: 5px 10px;
        // margin-top: 18px;
        margin-inline: 16px;
        margin:10px 16px !important;
    }
    .time_sec{
        display: flex;
        flex-direction: column;
        --background-color: none;
       
        border-radius: 2px;
    }
    .date_sec{
        display: flex;
        flex-direction: column;
        min-width: 69%;
        border-left: 2px solid #ABB2BC;
        padding-left: 15px;
        margin-left: 15px;
    }


.label_date_text{
    font-size: 14px;
    font-weight: 600;
    color: #265CB2;
    padding-bottom: 4px;
    font-family: "Poppins";
}

.text_time{
    font-weight: 700;
    color: #333;
    font-size: 12px !important;
}

.text_time.btmsppace{
    padding-bottom: 4px;
}
.arrow_sec{
    font-size: 24px;
    font-weight: 600;
    // color: #84CC26;
    color: #265CB2;
}

.date_cldout { 
    display: flex;
    align-items: center;    
}
.day_text { margin-left: 5px;     font-size: 12px; }
.cld-icons { font-size: 16px;
color: #265CB2;}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
    font-weight: 500;
    
  }

  .statusbtns { 
    //   display: inline-block;
    // padding: 7px 10px;
    // border-radius: 100px;
    // width: 120px;
    // text-align: center;
    // color: #fff;
    // font-size: 12px;
    // margin-top: 10px;
    display: flex; 
    /* padding: 7px 10px; */
    border-radius: 100px;
    /* width: 120px; */
    text-align: left;
    // color: #fff;
    /* font-size: 12px; */
    /* margin-top: 10px; */
    font-weight: 600;
    // position: absolute;
    // right: 6%;
    // bottom: 6%;
}
.statusbtns.danger{
    // color: #FF3535 !important;
}

.statusbtns.primary{
    // color: #265CB2 !important;
}

.statusbtns.success{
    // color: #2dd36f !important;
}



.search_sect {
    margin-bottom: 0px;
    --padding-start:0px !important;
    --inner-padding-end:0px !important;
}

.search_phrases { 
    margin-top: 2%;
    --border-radius: 10px;
    /* --border: 2px solid blue; */
    --box-shadow: 0px 0px 10px rgb(0 0 0 / 20%) !important;
    /* border-color: blueviolet; */
    width: 100%;
    padding-inline-start: 10px !important;
    padding-inline-end: 10px !important;
    --padding-start:0px !important;
    --inner-padding-end:0px !important
}

// .nojobs{
//     position: absolute;
//     top: 50%;
//     margin: 0 auto;
//     text-align: center;
//     /* float: left; */
//     width: 100%;
//     font-size: 18px;
//     font-family: 'Poppins' !important;

//   }

  .no_jobs{
    position: absolute;
    top: 50%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: 'Poppins' !important;
    background: #fff;
    color: #000;
}
.cldoutTime{
    // color: #000;
    font-weight: 600;
}
.hour_value{
    margin-left: 15%;
    font-weight: 700;
}

ion-card.danger{
//   border-top:  4px solid #FF3535;
  border-top: 4px solid #f96363;
}
ion-card.success{
    // border-top:  4px solid #2dd36f;
    border-top: 4px solid #54d085;
  }
  ion-card.primary{
    // border-top:  4px solid #265CB2;
    border-top: 4px solid #3b78d8;
  }
ion-card.info{
    // border-top: 4px solid #17a2b8;
    border-top: 4px solid #1fb9d2;
}
ion-searchbar{
    --color: #000;
    color: #000;
  }
  @media only screen 
and (min-device-width: 360px) 
and (max-device-width: 375px) 
{
    .text_time{
        font-weight: 700;
        color: #333;
        font-size: 10px !important;
    }

    .time_sec{
        display: flex;
        flex-direction: column;
        --background-color: none;
        overflow: auto;
        // margin-right: -6%;
        border-radius: 2px;
    }
}
ion-item-sliding.ios.hydrated.item-sliding-active-slide.item-sliding-active-options-end,
ion-item-sliding.md.hydrated.item-sliding-active-slide.item-sliding-active-options-end{
ion-item{
transform: translate3d(-150px, 0px, 0px) !important;
}
// }
}
.accept_button, .item_expand{
    background: #265CB2;
  
    // width:100%;
 
    font-weight: 100;
    font-family: "Poppins";
    // font-size: 12px;
    text-transform: none;
    float: left;
    color:  #f8fafc;
    ;
}
.item_sec{
    width: 100%;
    --inner-border-width:0;
    --padding-start: 0 !important;
    --inner-padding-end: 0 !important;
   // transform: translate3d(-69px, 0px, 0px);
}
ion-label.time{
    white-space: normal;
    overflow: auto;
}

@media (min-width: 376px) and (max-width: 410px) { 
    .time_sec{
        display: flex;
        flex-direction: column;
        --background-color: none;
        overflow: auto;
        // margin-right: -6%;
        border-radius: 2px;
    }
 }

@media (min-width: 320px) and (max-width: 359px) { 
    .text_time{
        font-weight: 700;
        color: #333;
        font-size: 10px !important;
    }
    .date_sec{
        min-width: 69% !important;
        padding-left: 7px !important;
        margin-left: 7px !important;
    }
 }
 
 @media (min-width: 768px) and (max-width: 1024px) { 
    .back_icon{
         font-size: 35px;
    }
    .icon_right{
        font-size: 30px;
    }

    .text_time {
        font-size: 20px !important;
    }
    .day_text{
        font-size: 18px;
    }
    .cld-icons{
        font-size: 20px;
    }
    .label_date_text{
        font-size: 21px;
    }
    .arrow_sec{
        font-size: 35px !important;
    }
    
    .icon_plus {
        font-size: 35px;
    }
    .time_sec{
      min-width: 18%;
    }
    .date_sec{
        min-width: 70% !important;
    }
.swap_card_sec{
    padding: 5px 5px !important;
}

.day_text{
    font-size: 17px !important;
}
 }
 @media (min-width: 600px) and (max-width: 767px) { 
    .back_icon{
         font-size: 35px;
    }
    .icon_right{
        font-size: 30px;
    }

    .text_time {
        font-size: 20px !important;
    }
    .day_text{
        font-size: 18px;
    }
    .cld-icons{
        font-size: 20px;
    }
    .label_date_text{
        font-size: 21px;
    }
    .arrow_sec{
        font-size: 35px !important;
    }
    
    .icon_plus {
        font-size: 35px;
    }
    .time_sec{
      min-width: 18%;
    }
    .date_sec{
        min-width: 70% !important;
    }
.swap_card_sec{
    padding: 5px 5px !important;
}

.day_text{
    font-size: 17px !important;
}
 }