.back_icon {
    color: #fff !important;
  }
  
  .main_sec {
    width: 90%;
    margin: 0 auto;
    margin-top: 5% !important;
  }
  
  .popoup_label {
    font-family: "Poppins" !important;
    font-weight: 550;
    width: 98%;
    --min-height: 0px !important;
  }
  
  ion-item.popup_inputs {
    --highlight-height: 0;
    margin: 0 auto;
    margin-bottom: 8px !important;
    --padding-start: 10px !important;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 4px rgba(113, 113, 113, 0.2);
    border-radius: 6px;
    width: 98%;
  }

  
  .save_button {
    --background: #265cb2;
    font-weight: 100;
    font-family: "Poppins";
    font-size: 16px;
    text-transform: none;
    padding-right: 16%;
  }

  .file_btn{
    --background: #265cb2;
    font-weight: 300;
    font-family: "Poppins";
    text-transform: none;
  }

  .btn_sec{
    display: flex;
    justify-content: space-evenly;
  }

  .validation_txt{
    width: 100%;
  }

  .btn_chip{
    display: inline-block;
  }

  #file_input_btn{
    box-shadow: none;
    border: none;
  }

  .fixed-content {
    position: fixed;
    z-index: 999;
    bottom: 10;
    margin-left: 1%;
    font-weight: bolder;
    color: red;
  }
  
  .button_section {
    display: inline-block;
    text-align: right;
    width: 100%;
  }

  .save_btn {
    margin-right: 2px;
  }
  .cncl_btn {
    margin-left: 10px;
  }
  
  .outline-button {
    --border-color: #265cb2;
  }
  
  .cancel_button {
    --background: #f8fafc;
    --border-radius: 50px;
    color: #265cb2;
    width: 80px;
    height: 27px;
    font-weight: 500;
    font-family: "Poppins";
    font-size: 12px;
    text-transform: none;
  }

  .save_icon{
    padding-right: 7px;
  }
  
  ion-item.popoup_input_space{
    --highlight-height: 0;
    margin: 0 auto;
    margin-bottom: 2px !important;
    --padding-start: 10px !important;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 4px rgba(113, 113, 113, 0.2);
    border-radius: 6px;
    width: 98%;
  }

  ion-input[type="file"] {
    display: none;
  }


  @media all and (device-width: 820px) and (device-height: 1180px) and (orientation:portrait) {
    .fixed-content { 
      position: fixed;
      z-index: 999;
      bottom: 10;
      margin-left: 20%;
      margin-top: 2%;
      font-weight: bolder;
      font-size: 18px;
      color: red; 
    } 

    .save_button{
      padding-right: 75%;
    }
  }
  
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .fixed-content { 
      position: fixed;
      z-index: 999;
      bottom: 10;
      margin-left: 20%;
      margin-top: 2%;
      font-weight: bolder;
      font-size: 18px;
      color: red; 
    } 
    .save_button{
      padding-right: 75%;
    }
  }
  