.avaliable-title {
    font-family: Poppins !important;
    font-weight: 600;
    color: #265CB2 !important;
    font-size: 14px !important;
    text-align: center;
}

.map-container {
    position: relative;
 }

 #map {
    height: 56vh;
    width: 100%;
    max-width: 100%;
}