<ion-header>
  <ion-toolbar>
    <ion-title class="allow-user-heading">Select the intended role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ion-radio-group
    allow-empty-selection="true"
    name="radio-group"
    (ionChange)="changeEvent($event)"
    #radioGroup
  >
    <ion-item class="role_item" lines="none" *ngFor="let role of showRoleList">
      <ion-label class="role_radio_label">{{role.value}}</ion-label>
      <ion-radio
        class="radio_role"
        slot="start"
        mode="md"
        value="{{role.id}}"
        name="userrole"
        [checked]="checkedValue == role.value.toString() ? true : false"
      ></ion-radio>
      <app-validation-message
        [control]="roleForm.controls['userrole']"
        [messages]="messageList.userrole"
      >
      </app-validation-message>
    </ion-item>
  </ion-radio-group> -->
  <!-- <ion-item class="section_inputs pwd">
    <ion-select multiple="true" class="select_company"  placeholder="Select a role"
      formControlName="userrole" [value]="selectedItems" (ionChange)="changeValue($event)">
      <ion-select-option [value]="option" *ngFor="let option of showRoleList">{{option.text}}</ion-select-option>
    </ion-select>
  </ion-item> -->
  <form  [formGroup]="roleForm" class="list-form" style="margin-top: 10px;">
  <ion-item class="section_inputs profile_inputs"
    >
    <!-- <ion-select class="select_company"  placeholder="Select a role"  #selectedRole
      formControlName="userrole">
      <ion-select-option *ngFor="let option of showRoleList" [value]="option.Id">
         {{option.Role}}</ion-select-option>
    </ion-select> -->
    <ion-select class="select_company"  placeholder="Select a role" formControlName="userrole" #selectedRole >
      <ion-select-option disabled value=''>Select a role</ion-select-option>
      <ion-select-option *ngFor="let option of showRoleList" [value]="option.Id">{{option.Role}}
      </ion-select-option>
    </ion-select>
    </ion-item>
    <app-validation-message
    [control]="roleForm.controls['userrole']"
    [messages]="messageList.userrole"
  >
  </app-validation-message>


  <ion-row class="btn_sec">
    <ion-col col-md-12>
      <div class="button_section save_btn">
        <ion-button class="save_button" (click)="onRoleSubmit()"
          >Submit</ion-button
        >
      </div>
    </ion-col>
  </ion-row>

</form>
</ion-content>
