.btn-primary {
  min-width: 100px !important;
  width: 130px !important;
}
.add_transfer_approve_modal {
  .modal-header {
    padding: 1.325rem 1.875rem 1.325rem 1.5rem;
    .modal-title {
      font-weight: normal;
      line-height: normal;
      font-size: 1.125rem;
      color: darkblue;
    }
  }
  .modal-footer {
    border-top: 1px solid aliceBlue !important;
    display: inline-block !important;
    padding: 1rem 1.5rem;
    width: 100%;
  }
}
.close_popup {
  cursor: pointer;
  // float: right;
  color: blue !important;
  font-size: 16px;
  padding-top: 10px;
}

::ng-deep {
  .modal-body {
    padding: 1.5rem;
    &.add_transfer_approval_popup {
      label {
        font-weight: normal;
        line-height: 20px;
        font-size: 0.875rem;
        color: gray;
      }
    }
  }
  .modal-footer {
    display: block;
    padding: 1.5rem;
  }
}

h4 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #5791ff !important;
}
@media (max-width: 575.98px) {
  .depBtn {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .grpBtn {
    justify-content: center;
  }
}

.submit-btn{
  margin-left: 7%;
}
