<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3285108070-1bokbdp859450hor7hooj4t6961m0f8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3285108070-1bokbdp859450hor7hooj4t6961m0f8c</string>
	<key>API_KEY</key>
	<string>AIzaSyCTT8pOJMBN0IXzK98Ec1cSUbS8aVJ28lc</string>
	<key>GCM_SENDER_ID</key>
	<string>3285108070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.covermywork.prod</string>
	<key>PROJECT_ID</key>
	<string>covermywork</string>
	<key>STORAGE_BUCKET</key>
	<string>covermywork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3285108070:ios:d426f5b8c74214b65fb4a7</string>
</dict>
</plist>